.btn-base {
    padding: 14px 45px;
    height: auto;
    margin: 0 auto;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

.btn-primary {
    background-color: #000;
    color: #FFFFFF;   
}

.btn-secondary {
    background-color: #fff;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 10px;
    color: #000;
    border: solid;
    border-width: 1px;
    border-radius: 5px;
    border-color: #5B86E5;
    padding: 7px 20px;
}

.btn-load-more {
  margin: 0 auto;
  display: block;
  padding: 14px 45px;
  font-size: 16px;
  border-radius: 8px;
  border: none;
  cursor: pointer;
  background: black;
  color: white;
}
