.New-arrivals-container {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


.p-new-arrivals{
    font-size: 10px;
    max-width: 500px;
}

.cards-container {
    width: 100%;
}