.deals-container {
    width: 100%;
    padding: 70px 0;
    height: auto;
    display: flex;
}

.deals-timer-container {
    display: flex;
    width: 500px;
    height: auto;
    flex-direction: column;
    justify-content: start; 
}


.text-deals-of-the-month {
    font-size: 38px;
}

.text-coment-deals {
    color: #8A8A8A;
    font-size: 13px;
    
}

.btn-section-deals {
    margin: 15px auto 0 0;
}

.section-counter-container {
    margin-top: 15px;
}

.text-counter-container {
    font-size: 25px;
    font-weight: medium;
}

.link-buy-now-deals {
    padding: 14px 45px;
    margin: 15px auto 0 0;
    height: auto;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    background: #000;
    color: #fff;
    font-size: 13px;
}

@media screen and (max-width: 769px){
    .deals-container {
        flex-direction: column;
    }

    .text-deals-of-the-month {
        font-size: 25px;
    }

    .text-coment-deals {
        font-size: 12px;
        display: flex;
        width: 100%;
        flex-wrap: wrap;
    }

    .deals-timer-container {
        width: 100%;
    }
}