.deals-container {
    width: 100%;
    margin-top: 50px;
    height: auto;
    display: flex;
}

.deals-timer-container {
    display: flex;
    width: 400px;
    height: auto;
    flex-direction: column;
    justify-content: start; 
}


.text-deals-of-the-month {
    font-size: 38px;
    line-height: 0;
}

.text-coment-deals {
    color: #8A8A8A;
    font-size: 13px;
    
}

.btn-section-deals {
    margin: 15px auto 0 0;
}

.section-counter-container {
    margin-top: 15px;
}

.text-counter-container {
    font-size: 25px;
    font-weight: medium;
}