.sub-container {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.contianer-sub-content {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.image-sub {
    width: 90%;
    height: 650px;
    object-fit: contain;
}

.description-container {
    display: flex;
    width: 100%;
    padding: 5px;
    box-shadow: 0px 50px 50px -8px rgba(138,138,138,0.46);
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.title-sub {
    font-size: 24px;
    line-height: 0;
}

.description-sub {
    font-size: 10px;
    text-align: justify;
    color: #8A8A8A;
}

.user-sub {
    font-size: 10px;
    text-align: justify;
    color: #8A8A8A;
    display: flex;
    flex-direction: row;
    justify-self: flex-start;
}

.btn-sub {
    margin: 30px auto;
}

@media screen and (max-width: 769px) {
    .image-sub {
        display: none;
    }

    .title-sub {
        line-height: normal;
    }
    

}