.products-grid {
    display: grid;
    width: 100%;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr)); 
    gap: 1.5rem;
    padding: 2rem;

    flex-grow: 1;
}

@media screen and (max-width: 769px) {
   .products-grid {
        padding: 0;
        gap: 7px;
        grid-template-columns: repeat(auto-fill, minmax(150px, 1fr)); 

    } 
}