# =========================
# Node / React / Vite
# =========================
node_modules/
dist/
build/
.vite/
.env
.env.local
.env.development
.env.production

# =========================
# Backend
# =========================
logs/
*.log
coverage/
tmp/

# =========================
# OS & Editors
# =========================
.DS_Store
Thumbs.db
.vscode/
.idea/

# =========================
# Package managers
# =========================
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
