:root {
    font-family: "poppins", sans-serif;
}

p {
    color: #484848;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "volkhov-regular", sans-serif;
    color: #484848;
    font-weight: normal;
}

@font-face {
    font-family: "digital-number";
    src: url("./assets/Fonts/DigitalNumbers-Regular.ttf");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "volkhov-regular";
    src: url(./assets/Fonts/Volkhov-Regular.ttf);
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "poppins-regular";
    src: url(./assets/Fonts/Poppins-Regular.ttf);
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}