.cart-drawer-close {
    display: flex;
    flex-direction: column;
    top: 0;
    position: fixed;
    right: -400px;
    background-color: #fff;
    width: 400px;
    height: 100%;
    box-shadow: -2px 0 10px rgba(0, 0, 0, 0.1);
    transition: right 0.3s ease;
    z-index: 1000;
}

.cart-drawer-open {
    display: flex;
    flex-direction: column;
    top: 0;
    position: fixed;
    right: 0;
    background-color:#fff;
    padding: 20px;
    width: 500px;
    height: 96%;
    box-shadow: -2px 0 10px rgba(0, 0, 0, 0.1);
    transition: right 0.3s ease;
    z-index: 1000;
}


.container-header-cart {
    display: flex;
    width: 100%;
    justify-content: space-between;
    
}

.button-cart {
    border: none;
    background: transparent;
    cursor: pointer;
}

.span-cart {
    font-weight: bold;
}

.product-in-cart {
    display: flex;
    gap: 20px;
    margin: 10px 0;
}

.image-item {
    width: 150px;
    height: 160px;
    background: #ebebeb;
    border-radius: 12px;
    object-fit: cover;
    object-position: center;
    padding: 0;
}
.about-item {
    display: flex;
    flex-direction: column;
}


.contianer-footer-cart {
    display: flex;
    flex-direction: column;
    margin-top: auto;
    border-top: 1px solid #8A8A8A;
}

.total-price {
    display: flex;
    justify-content: space-between;
}

.variant-primary {
    margin: 0;
}


.container-button-add-remove-cart{
    border: 1px solid #EEEEEE;
    width: 71px;
    display: flex;
    padding: 7px 10px;
    border-radius: 5px;
}

.button-add-remove-product-cart {
    background: transparent;
    border: none;
    cursor: pointer;
    margin: 0 5px;
}

.span-count-cart {
    font-size: 13px;
}

.contianer-product-cart {
    width: 100%;
    height: auto;
    overflow: auto;
    -webkit-overflow-scrolling: auto;
}