.main-container-product {
    display: flex;
    width: 100%;
    flex-direction: column;
}



.section-container-product {
    display: flex;
    gap: 60px;
}

.container-images {
    display: flex;
}


.title-product {
    color: #000;
    font-weight: 500;
    display: flex;
    width: 100%;
    margin: 0;
}

.icon-star {
    margin: 0 0 0 auto;
    cursor: pointer;
    transition: all 0.3s;
}

.icon-star:hover {
    scale: 1.3;
}



.contianer-details-product {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.container-product-carousel {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    overflow-y: auto;
    gap: 10px;
    padding: 10px;
    scroll-snap-type: y mandatory;
    -webkit-overflow-scrolling: touch;
    scrollbar-width: none;
    -ms-overflow-style: none;
}

.image-carousel {
    flex: 0 0 50px;
    width: 50px;
    background: #ebebeb;
    height: auto;
    object-fit: contain;
    border-radius: 12px;
    scroll-snap-align: initial;
    cursor: pointer;
    transition: transform 0.2s;
}


.image-carousel:hover {
    transform: scale(1.1);
}

.main-image {
    width: 290px;
    height: 400px;
    background: #ebebeb;
    border-radius: 12px;
    object-fit: cover;
    object-position: center;
    padding: 0;
}

.rating-wrapper {
    display: flex;
    align-items: center;
    gap: 8px;
}


.stars-outer {
    position: relative;
    display: inline-block;
    font-weight: 900;
    font-size: 15px;
    color: rgb(182, 181, 181);
}

.stars-outer::before {
    content: "★★★★★";
}

.stars-inner {
    position: absolute;
    top: 0;
    left: 0;
    white-space: nowrap;
    overflow: hidden;
    width: var(--rating, 0%);
    color: black;
}

.stars-inner::before {
    content: "★★★★★";
}

.price-content {
    display: flex;
    align-items: center;
    gap: 10px;
}

.p-price {
    font-family: "volkhov-regular";
    font-size: 20px;
    color: #000;
}

.p-real-price {
    font-family: "volkhov-regular";
    font-size: 15px;
    opacity: .5;
    text-decoration: line-through ;
}

.p-save-money {
    font-size: 10px;
    font-family: "volkhov-regular";
    font-weight: 10;
    background-color: #DA3F3F;
    color: #ffff;
    border-radius: 20px;
    padding: 4px 10px;
}

.p-stock {
    font-size: 15px;
    color: #666666;
    margin: 5px 0;
}

.line-outer {
    display: inline-block;
    width: 100%;
    height: 5px;
    overflow: hidden;
    position: relative;
    background-color: #DEDEDE;
    border-radius: 10px;
}

.line-inner {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: var(--var-line);
    background: #EF2D2D;
}

.button-sizes {
    color: #000;
    width: 40px;
    height: 40px;
    border: 1px solid #EEEEEE;
    background: transparent;
    margin: 0 5px;
    display: inline-block;
    cursor: pointer;
    border-radius: 5px;
}

.button-sizes:hover {
    transform: scale(1.1);
}

.button-sizes-active {
    color: #ffff;
    width: 40px;
    height: 40px;
    border: 1px solid #EEEEEE;
    background: #000;
    margin: 0 5px;
    display: inline-block;
    cursor: pointer;
    border-radius: 5px;
}

.container-quantity {
    display: flex;
    width: 100%;
    align-items: center;
    margin: 20px auto;
    gap: 30px;
}

.container-button-add-remove {
    border: 1px solid #EEEEEE;
    display: flex;
    padding: 7px 10px;
    border-radius: 5px;
}

.button-add-remove-product {
    background: transparent;
    border: none;
    cursor: pointer;
    margin: 0 5px;
}

.span-count {
    font-size: 13px;
}

.p-ask-a-question {
    display: flex;
    color: #000;
    font-size: 12px;
    align-items: center;
    gap: 3px;
    cursor: pointer;
}

.container-share {
    margin: 30px 0 0 0;
    display: flex;
    width: 100%; 
    gap: 30px;
    border-bottom: 1px solid #EEEEEE;
}

.p-delivery {
    display: flex;
    align-items: center;
    font-size: 12px;
    color: #000;
    gap: 10px;
}

.p-delivery span {
    font-weight: bold;
    font-family: "volkhov-regular";
}

.container-about-pays {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px;
    align-items: center;
    background-color: #F8F8F8;
    border-radius: 10px;
    margin-top: 30px;
}


.container-logos-pay{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.logo-pay-methods {
    width: 50px;
}

@media screen and (max-width: 769px) {
    .section-container-product {
        margin-top: 10px;
        flex-direction: column;
        gap: 0;
    }
    .container-images {
        width: 100%;
    }
    .main-image {
        width: 250px;
        height: 370px;
    }
}