.section-shop-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.container-content {
    display: flex;
    width: 100%;
}

.container-products {
    width: 100%;
}