.container-auth-layout {
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

.container-form{
    display: flex;
    border-radius: 10px;
    border: solid;
    border-color: #DBDBDB;
    border-width: 2px;
    margin: 0 auto;
}

.icon-login {
    font-size: 40px;
}

.img-login {
    max-width: 600px;
    height: auto;
    margin: auto auto;
}

.form-container {
    display: flex;
    flex-direction: column;
    width: 80%;
    margin: 0 30px;
}

.p-login-sing-in-to-fasco {
    font-size: 20px;
    color: #000;
}