.footer-container {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-top: 2px solid #484848;
}

.footer-logo-fasco {
    font-size: 30px;
    font-family: 'volkhov', serif;
    line-height: 100%;
    justify-self: flex-start;
    color: #484848;
    fill: #484848;
}

.footer-link-container {
    display: flex;
    width: 100%;
    height: auto;
    align-items: center;
    justify-content: space-between;
}

.footer-ul-container {
    display:flex;
    flex-direction: row;
}

.footer-copyright {
    font-family: poppins, sans-serif;
    font-size: 10px;
    color: #484848;
}

.footer-link-copyright {
    font-weight: bold;
    font-size: 10px;
}

.footer-link-copyright:hover {
    text-decoration: underline;
}

.footer-li {
    display: flex;
    font-family: poppins, sans-serif;
    list-style: none;
    gap: 20px;
    color: #484848 ;
    font-size: 13px;
    cursor: pointer;
}

@media screen and (max-width: 769px) { 

    .footer-link-container {
        flex-direction: column;
    }

    .footer-ul-container {
        display: flex;
        flex-direction: column;
        margin: 5px 0;
    }

    .footer-ul-container {
        width: 100%;
        gap: 5px;
        padding: 0;
        justify-content: center;
        align-items: center;
    }

    .footer-ul-container .footer-li {
        justify-content: center;
        width: 100%;
        gap: 0;
        border-bottom: 1px solid #484848;
    
    }
}