.footer-container {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-top: 2px solid #484848;
}

.footer-logo-fasco {
    font-size: 30px;
    font-family: 'volkhov', serif;
    line-height: 100%;
    justify-self: flex-start;
    color: #484848;
    fill: #484848;
}

.footer-link-container {
    display: flex;
    width: 100%;
    height: auto;
    align-items: center;
    justify-content: space-between;
}

.footer-ul-container {
    display:flex;
    flex-direction: row;
}

.footer-copyright {
    font-family: poppins, sans-serif;
    font-size: 10px;
    color: #484848;
}

.footer-link-copyright {
    font-weight: bold;
    font-size: 10px;
}

.footer-link-copyright:hover {
    text-decoration: underline;
}

.footer-li {
    font-family: poppins, sans-serif;
    color: #484848 ;
    font-size: 13px;
    cursor: pointer;
}