.header-site {
    display: flex;
    height: 45px;
    align-items: center;
    justify-content: space-between;
    padding: 45px 0;
    position: sticky;
    top: 0;
    transition: transform 0.3s ease-in-out;
    background-color: transparent;
    z-index: 1000;
}

.header--hidden {
    transform: translateY(-100%);
}

.logo {
    font-size: 40px;
    font-family: 'volkhov', serif;
    line-height: 100%;
    justify-self: flex-start;
    color: #484848;
    fill: #484848;
}

.header--scrolled {
    top: 15px;
    width: 100%;
    padding: 45px 10px;
    background-color: rgba(255, 255, 255, 0.9);
    border-radius: 20px;
    backdrop-filter: blur(10px);
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.15); 
    height: 10px;
}