
.navbar-container {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 100%;
}

.navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 25px;
}

.navbar-links {
    display: flex;
    gap: 32px;
    align-items: center;
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    font-weight: 500;
    color: #484848;
}

ul li {
    list-style: none;
    margin: 0  10px 0 10px;
}

a {
    text-decoration: none;
    font-family: poppins, sans-serif;
    font-size: 16px;
    fill: #484848;
    color : #484848;
}

